
<body>
  
  <div class="row">
  <div class="container">
    <div class="proform">

      <form>
        <div class="titleform">
        <header>
          <div class="hdrimg">
          <img src="assets/logo.PNG" style="height: auto; width: 550px;" class="responsive-img">
        </div>
        </header>
        <hr>
      </div>
        <br><br>
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

<br><br>


</body>

</html>