


<body>
  <div class="intropic">
    <img src="assets/mountain1.jpg" style="width: 100%; height: 100%;" class="brand-logo">
    <h1 class="proname" style="font-family: 'Permanent Marker', cursive;">Out <img class="responsive-img" src="assets/mountain.png"
        style="width: 75px; height: 75px;">' Bout'</h1> <br>
    <!-- Page Content goes here -->
    <div class="buttons">
      <div class="card-panel hoverable" id="panel">
        <a href="Listing" class="waves-effect waves-light btn-large" style="background-color: green;">Buy</a>
        <a href="post" class="waves-effect waves-light btn-large" style="background-color: lightcoral;">Sell</a>
      </div>
    </div>
  </div>


</body>

</html>