<html lang="en">

<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- My Style-->
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
  <title>Home</title>
</head>

<!-- Navbar-->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-4">
           <a href="home" class="brand-logo" style="font-family: 'Permanent Marker', cursive;">Out <img
          src="assets/mountain.png" style="width: 40px; height: 35px;">' Bout</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="Listing">Listing</a></li>
        <li><a href="post">Post</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">DropDown</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"></i></a>
      </ul>
    </div>
  </nav>
</div>

<body>
  <div class="intropic">
    <img src="assets/mountain1.jpg" style="width: 100%; height: 100%;" class="brand-logo">
    <h1 class="proname" style="font-family: 'Permanent Marker', cursive;">Out <img class="responsive-img" src="assets/mountain.png"
        style="width: 75px; height: 75px;">' Bout'</h1> <br>
    <!-- Page Content goes here -->
    <div class="buttons">
      <div class="card-panel hoverable" id="panel">
        <a href="Listing" class="waves-effect waves-light btn-large" style="background-color: green;">Buy</a>
        <a href="post" class="waves-effect waves-light btn-large" style="background-color: lightcoral;">Sell</a>
      </div>
    </div>
  </div>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow us on GitHub</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/benklinton/New-Portfolio">benklinton</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Out'N'Bout
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</body>

</html>