{{!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- My Style-->
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>



<br><br>


<body> --}}


    <!-- Main Content -->
    <div class="container">
        <div class="ourpro">
            <h5 style="color: black;">Our Products</h5>
        </div>
        <div class="section">

            <!--   Card Section  1 -->
            <div class="row">
                <!--   CARD 1   -->
                {{#each products}}
                <div class="col s12 m4">
                    {{log this}}
                    <div class="icon-block">
                        <img class="responsive-img" src="assets/accesories.png" alt="Unsplashed">
                        <h2 class="center brown-text"><i class="material-icons">Accesories</i></h2>
                        <h5 class="center">{{this.dataValues.product_name}}</h5>

                        <p class="light">{{this.dataValues.product_description}}</p>
                        <hr>
                        <a id="buyButton" dataValue={{this.dataValues.id}} class="waves-effect waves-light btn-small">BUY</a>
                    </div>
                </div>
            {{/each}}
            
            </div>

        </div>
    </div>
